{% extends "layout.html" %}

{% block tittle %}
Home Page
{% endblock %}

{% block content %}
<h1>Here WE Give Chai That Will Make You Vomit || Good Luck HEHE </h1>
<div class="grid grid-cols-3 gap-4 m-4">

{% for chai in chais  %}
<div class="bg-green-500 p-5">
    <img class = 'rounded shadow-lg' src="{{chai.image.url}}" alt="">
    <h3 class="text-2xl font-bold text-center">{{chai.name}}</h3>
    <a href="{% url 'chai_details' chai.id %}">
        <button 
        type =  'button'
        class = 'bg-orange-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full'>
            {{chai.type}} - {{chai.id}}
        </button>
    </a>
</div>


{% endfor %} 
</div>
{% endblock %}

